# Виртуальное окружение 
venv/
env/

# Временные файлы Python
__pycache__/
*.pyc
*.pyo

# Файлы редакторов кода
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db

# Файлы с данными (создаются программой)
*.json
*.csv
*.html

# Логи
*.log
